@font-face {
  font-family: 'Playfair Display';
  src: url("../webfonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype") ,
}
@font-face {
  font-family: 'DM_Sans';
  src: url("../webfonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf") format("truetype") ,
}
body {
  font-family: 'DM_Sans',sans-serif;
}
/* Start landing__order */
.landing__order {
  margin-bottom: 30px;
  text-align: center;
}
.landing__order h1 {
  font-size: 40px;
  color: #2C2F24;
  font-family: 'Playfair Display',sans-serif;
}
.landing__order p {
  text-align: center;
  font-size: 14px;
  color: #495460;
  max-width: 400px;
  margin: auto;
  font-weight: 500;
}
/* End landing__order */
/* Start user__orders */
.user__orders {
  margin-bottom: 30px;
}
.user__orders table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .user__orders table {
    width: 90%;
  }
}
.user__orders table td,
.user__orders table th ,
.order__subtotal td {
  border-bottom: 2px solid #999;
}
.user__orders thead {
  background-color: #474747;
  color: #fff;
}
.user__orders tbody .order__img {
  padding: 10px;
}
.user__orders tbody img {
  width: 55px;
}
.user__orders tbody .order__name {
  font-weight: bold;
  font-size: 15px;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .user__orders tbody .order__name {
    font-weight: bold;
    font-size: 16px;
  }
}
.user__orders tbody .order__price {
  text-shadow: 1px 1px 2px #474747;
}
.user__orders tbody .order__quantity button {
  background-color: #ffffff;
  border: 1px solid #474747;
  color: #AD343E;
  font-weight: 500;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.user__orders tbody .order__quantity span {
  display: inline-block;
  margin-left: 1px;
  margin-right: 1px;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .user__orders tbody .order__quantity span {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.user__orders tbody .delete__order button {
  background-color: #ffffff;
  border: none;
  color: #AD343E;
  font-weight: 500;
}
/* End user__orders */
/* Start order__info */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .order__info  {
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }
}
.order__info .order__forms {
  background-color: #474747ad;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  padding:15px;
}
@media (min-width: 992px) {
  .order__info .order__forms {
    flex: 1;
  }
  .order__info .order__subtotal {
    flex: 1;
  }
}
.order__info .order__forms form {
  text-align: left;
  margin-bottom: 20px;
}
.order__info .order__forms form label {
  display: block;
  font-weight: 500;
}
.order__info .order__forms form input {
  caret-color: #AD343E;
}
.order__info .order__forms form input ,
select {
  width: 80%;
  padding: 6px;
  margin-bottom: 15px;
  outline: none;
}
 ::placeholder {
  color: #AD343E;
}
select  {
  color: #AD343E;
}
option {
  color: #474747;
}
.order__info .order__forms button {
  border: none;
  width: 30%;
  background-color: #AD343E;
  color: #fff;
  padding: 10px 30px;
}
.order__subtotal h2 {
  text-align: center;
  color: #495460;
  margin-bottom: 15px;
}
.order__subtotal table {
  text-align: center;
  width: 90%;
  border-bottom: 2px solid #999;
  margin-left: auto;
  margin-right: auto;
}
.order__subtotal table td {
  font-weight: 500;
}
/* End order__info */